	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">¿Listo para finalizar?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">x</span>
					</button>
				</div>
				<div class="modal-body">Seleccione "Cerrar sesion" a continuacion si esta listo para finalizar su sesion actual.</div>
				<div class="modal-footer">
					<form th:action="@{/logout}" th:method="post" >
						<a class="btn btn-default">Cancelar</a>
						<button class="btn btn-primary" type="submit">Cerrar Sesion</button>
					</form>
				</div>
			</div>
		</div>
	</div>